# i3 config file (v4)

set $mod Mod4

set $mode_default mode "default"

font pango:DejaVu Sans Mono 8

bar {
        # This calls i3status which can display system information.
        status_command i3status
        # i3bar uses same font as titlebars unless you specify a different font here.
        # This is helpful if you want the font size to differ.
        # font pango:monospace 8
        # You can change the symbol which separates the components of i3status
        separator_symbol "|"
        # You can also have the bar appear on the bottom
        position bottom
        # Make the bar only visible while pressing the modifier key
        mode hide
        hidden_state hide
        modifier $mod
}

set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

bindsym $mod+n workspace next
bindsym $mod+p workspace prev
# alternatively for just on one output
# bindsym $mod+n workspace next_on_output
# bindsym $mod+p workspace prev_on_output

bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+10 workspace $ws10

workspace_auto_back_and_forth yes

bindsym $mod+Shift+n move container to workspace next; workspace next
bindsym $mod+Shift+p move container to workspace prev; workspace prev

bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+10 move container to workspace $ws10

bindsym $mod+m move workspace to output next
bindsym $mod+Shift+m move workspace to output prev

bindsym $mod+Shift+x move scratchpad
bindsym $mod+x scratchpad show

workspace_layout tabbed

set $mode_layout "[s]tacking [t]abbed s[p]lit"

mode $mode_layout { 
        # These bindings trigger as soon as you enter the layout mode.
        bindsym s layout stacking; $mode_default
        bindsym t layout tabbed; $mode_default
        bindsym p layout toggle split; $mode_default

        # back to normal: Enter or Escape or q or $mod+y
        bindsym Return $mode_default
        bindsym Escape $mode_default
        bindsym q      $mode_default
        bindsym $mod+y $mode_default
}

bindsym $mod+d exec --no-startup-id i3-dmenu-desktop --dmenu="dmenu -b -i -l 5"

bindsym $mod+Shift+d exec --no-startup-id dmenu_run -b -i -l 5 -p "/bin/sh -c "

set $term i3-sensible-terminal
bindsym $mod+Return exec $term

bindsym $mod+Shift+q kill

floating_modifier $mod

bindsym $mod+Shift+f bar mode toggle

bindsym $mod+o  focus next
bindsym $mod+Shift+o focus prev

# alternatively, you can use the cursor keys:
bindsym $mod+Left  focus left
bindsym $mod+Down  focus down
bindsym $mod+Up    focus up
bindsym $mod+Right focus right

bindsym $mod+Shift+Left  move left
bindsym $mod+Shift+Down  move down
bindsym $mod+Shift+Up    move up
bindsym $mod+Shift+Right move right

set $borderWidth 2
default_border pixel 0
#bindsym $mod+b border toggle $borderWidth
hide_edge_borders smart

bindsym $mod+f fullscreen toggle

bindsym $mod+Shift+space floating toggle
floating_minimum_size -1 x -1
floating_maximum_size 1000 x 600

bindsym $mod+s sticky toggle

bindsym $mod+space focus mode_toggle

set $mode_resize "RESIZE [h] -width [l] +width [j] -height [k] +height"

mode $mode_resize { 
        # These bindings trigger as soon as you enter the resize mode.
        bindsym h resize shrink width  10 px or 10 ppt
        bindsym j resize grow   height 10 px or 10 ppt
        bindsym k resize shrink height 10 px or 10 ppt
        bindsym l resize grow   width  10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left  resize shrink width  10 px or 10 ppt
        bindsym Down  resize grow   height 10 px or 10 ppt
        bindsym Up    resize shrink height 10 px or 10 ppt
        bindsym Right resize grow   width  10 px or 10 ppt

        # back to normal: Enter or Escape or q or $mod+r
        bindsym Return $mode_default
        bindsym Escape $mode_default
        bindsym q      $mode_default
        bindsym $mod+r $mode_default
}

set $mode_session "[r]eload config re[s]tart session [e]xit i3"

mode $mode_session { 
        # These bindings trigger as soon as you enter the session mode. 
        bindsym r reload
        bindsym s restart
        bindsym e exec "i3-nagbar -t warning \
        -m 'Do you really want to exit i3? This will end your X session.'\
        -B 'Yes, exit i3' 'i3-msg exit'"

        # back to normal: Enter or Escape or Shift+e or $mod+r
        bindsym Return       $mode_default
        bindsym Escape       $mode_default
        bindsym q            $mode_default
        bindsym $mod+Shift+e $mode_default
}

set $mode_volume "[j] -vol [k] +vol [m]ute mi[x]er"

mode $mode_volume { 
        bindsym j exec pactl set-sink-volume 0 -5% && pactl set-sink-mute 0
        bindsym k exec pactl set-sink-volume 0 +5% && pactl set-sink-mute 0
        bindsym m exec pactl set-sink-mute 0 toggle; $mode_default
        bindsym x exec pavucontrol; $mode_default

        # back to normal: Enter or Escape or y or $mod+r
        bindsym Return $mode_default
        bindsym Escape $mode_default
        bindsym q      $mode_default
        bindsym $mod+a $mode_default
}

bindsym $mod+a mode $mode_volume

set $mode_command "[r]esize [s]ession [l]ayout [m]ark [v]olume"

mode $mode_command { 
        bindsym r mode $mode_resize
        bindsym s mode $mode_session
        bindsym l mode $mode_layout 
        bindsym m mode $mode_mark
        bindsym v mode $mode_volume

        # back to normal: Enter or Escape or y or $mod+r
        bindsym Return $mode_default
        bindsym Escape $mode_default
        bindsym q      $mode_default
        bindsym $mod+g $mode_default
}

bindsym $mod+g mode $mode_command
