# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

# We don't use vim folds here since the configuration of the statusbar is very simple.

general {
        output_format = "i3bar"
        colors = true
        interval = 5
}

order += "volume master"
order += "battery 0"
order += "cpu_usage"
order += "memory"
order += "tztime local"

volume master {
        format = "♪: %volume"
        format_muted = "♪: muted (%volume)"
        device = "default"
        mixer = "Master"
        mixer_idx = 0
}

battery 0 {
        # format = "%status %percentage %remaining"
        format = "%status %percentage"
        format_down = "No battery"
        status_chr = "[+] BAT:"
        status_bat = "[-] BAT:"
        status_full = "[#] BAT:"
        low_threshold = 30
        threshold_type = percentage
}

cpu_usage {
        format = "CPU: %usage"
        max_threshold = "95"
        degraded_threshold = "90"
}

memory {
        format = "MEM: %used [%available]"
}

tztime local {
        format = "%Y-%m-%d %H:%M"
}
